@import "tailwindcss";
@plugin "daisyui";

:root {
  --header-height: 72px;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #fffaf0;
  color: #16181b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
}

[data-vision="protanopia"] {
  filter: url('#protanopia-filter');
}
[data-vision="deuteranopia"] {
  filter: url('#deuteranopia-filter');
}
[data-vision="tritanopia"] {
  filter: url('#tritanopia-filter');
}
[data-vision="achromatopsia"] {
  filter: grayscale(100%);
}

.site-header {
  height: var(--header-height);
}
