---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/home/Hero.astro";
import WhyAvalanche from "../components/home/WhyAvalanche.astro";
import LinksAndTrust from "../components/home/LinksAndTrust.astro";
import DevelopersHub from "../components/home/DevelopersHub.astro";
import Numbers from "../components/home/Numbers.astro";
import NewsSolutionsCommunity from "../components/home/NewsSolutionsCommunity.astro";
import NewsletterContact from "../components/forms/NewsletterContact.astro";
---

<Layout>
  <Navigation />
  <main class="pt-0">
    <Hero />
    <WhyAvalanche />
    <LinksAndTrust />
    <DevelopersHub />
    <Numbers />
    <NewsSolutionsCommunity />
    <NewsletterContact />
    <Footer />
  </main>
</Layout>
