@import "tailwindcss";

@font-face {
  font-family: 'Northstar VF';
  src: url('/fonts/Northstar-VF.woff2') format('woff2');
  font-weight: 200 900;
  font-style: normal;
  font-stretch: 75% 125%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
